{% extends 'base.html.twig' %}

{% block title %}Mon espace{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">  
        <div class="card text-white bg-info mb-3 d-flex justify-content-center" style="max-width: 20rem;">

  
	        <div class="card-header "></div>
	        <div class="card-body">
            <h4 class="card-title">Mes Rendez Vous</h4>

             </div>
        </div>
    </div>
{% block end %}    