{% extends 'base.html.twig' %}

{% block title %}Rendez vous en cabinet médical{% endblock %}

{% block body %}
 <div class="card text-white  bg-info mb-3" style="max-width: 20rem; align-center">
  <div class="card-header">Rendez Vous Cabinet</div>
  <div class="card-body">
    <h4 class="card-title">Vos disponibilite</h4>
    {{ form(RendezVousCFormType) }}
  
    </div>
</div>
{% endblock %}
